:root{
    --header: #012D63;
    --footer: #021635;
    --button-color: #8E32C6;
    --text-color: #fff;
    --nav-color: #C7C7C7;

}
body{
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.header{
    background-color: var(--header);
    padding-top: 16px;
    padding-bottom: 17px;
}
.header-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-list{
    display: flex;
    font-size: 24px;
}
.link{
    margin-left: 29px;
}
.lang-list{
    display: flex;
}
.lang-item{
    margin-left: 10px;
}
.header-link{
    font-size: 24px;
    font-weight: 300;
    color: var(--nav-color);
}
.header-link:hover,
.header-link:focus{
    color: var(--text-color);
    font-weight: 400;
}
.logo-one{
    font-family: 'PT Serif', serif;
    font-size: 48px;
    font-weight: 400;
}
.herov{
    background: url(../img/Group3711-min.png) no-repeat;
    background-size: cover;
    padding-top: 94px;
    padding-bottom: 183px;
    color: var(--text-color);
    height: 858px;
    display: block;
    content: '';
    box-sizing: border-box;
}
.herov-text{
    font-size: 18px;
    margin-bottom: 60px;
    width: 588px;
    height: 84px;
    line-height: normal;
}
.herov-h1{
    font-size: 144px;
    font-weight: 400;
    font-family: 'Playfair Display', serif;
    margin-top: 0;
    margin-bottom: 0;
}
.herov-span{
    font-size: 72px;
    font-family: 'Playfair Display', serif;
    margin-bottom: 12px;
}
.herov-blog{
    font-size: 18px;
    margin-bottom: 41px;
}
.lang{
    color: var(--header);
    margin: 4px;
}
/* .button-one{
    color: var(--text-color);
    background: var(--button-color);
    cursor: pointer;
    border-radius: 10px;
    border: none;
    font-size: 24px;
} */
.benefits{
    background: url(../img/Group81-min.png) no-repeat;
    background-size: cover;
    padding-top: 105px;
    padding-bottom: 105px;
}

.background-one{
    border-radius: 15px;
    background: linear-gradient(137deg, #00E5E6 7.29%, #00A8F7 26.04%, #9A76F9 62.5%, #CC5EC2 100%);
    box-shadow: 0px 30px 0px -13px #533978, 0px 14px 0px -5px #7B54B2;
width: 260px;
}
.background-two{
    border-radius: 15px;
    background: linear-gradient(137deg, #FF68B4 0%, #FF45E1 26.04%, #CE3AFF 62.84%, #8961FF 100%);
    box-shadow: 0px 30px 0px -13px #61337C, 0px 14px 0px -5px #9159B1;
width: 260px;
}
.background-three{
    border-radius: 15px;
    background: linear-gradient(143deg, #FFE128 0%, #FF9B5C 30.21%, #FF8381 63.29%, #FF5489 100%);
    box-shadow: 0px 30px 0px -13px #732F26, 0px 14px 0px -5px #B95A4C;
    width: 260px;
}
.reviews{
    background: url(../img/Group61-min.png);
    background-size: cover;
    color: var(--text-color);
    padding-top: 24px;
    padding-bottom: 105px;
}
.reviews-ul{
    display: flex;
    justify-content: space-between;
    font-family: "Roboto",sans-serif;
}
.reviews-text{
    margin-top: 49px;
    font-size: 24px;
    color: var(--text-color);
    font-style: normal;
    line-height: normal;
    font-weight: 400;
    width: 228px;
}
.title{
    display: flex;
    justify-content: center;
    font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-bottom: 24px;
}
.order{
    background: url(../img/Group21-min.png);
}
.quality{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    position: relative;
}
.quality:nth-child(1)::before,
.quality:nth-child(2)::before{
    content: '';
    width: 2px;
    height: 346px;
    background-color: var(--text-color);
    position: absolute;
    right: -0.5px;
}
.benefits-container{
    border: solid;
    padding: 20px;
    width: 1110px;
}