:root{
    --header: #012D63;
    --footer: #021635;
    --button-color: #8E32C6;
}
.header{
    background-color: var(--header);
    width: 1440px;
}
.logo{
    background-image: url(../img/ed69f7fa91929ff49ecafac2bfd723601-min.png);
    
}
.section-one{
    background-image: url(../img/Group37\(1\)1-min.png);
}