:root{
    --header: #012D63;
    --footer: #021635;
    --button-color: #8E32C6;
    --text-color: #fff;
    --nav-color: #C7C7C7;
    --date-color:#D8D8D8;

}
body{
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.header{
    background-color: var(--header);
    padding-top: 16px;
    padding-bottom: 17px;
}
.header-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-list{
    display: flex;
    font-size: 24px;
}
.link{
    margin-left: 29px;
}
.lang-list{
    display: flex;
}
.lang-item{
    margin-left: 10px;
}
.header-link{
    font-size: 24px;
    font-weight: 300;
    color: var(--nav-color);
}
.header-link:hover,
.header-link:focus{
    color: var(--text-color);
    font-weight: 400;
}
.logo-one{
    font-family: 'PT Serif', serif;
    font-size: 48px;
    font-weight: 400;
}
.herov{
    background: url(../img/Group3711-min.png) no-repeat;
    background-size: cover;
    padding-top: 94px;
    padding-bottom: 183px;
    color: var(--text-color);
}
.herov-text{
    font-size: 18px;
    margin-bottom: 60px;
    width: 588px;
    line-height: normal;
}
.herov-h1{
    font-size: 144px;
    font-weight: 400;
    font-family: 'Playfair Display', serif;
    margin-top: 0;
    margin-bottom: 0;
}
.herov-span{
    font-size: 72px;
    font-family: 'Playfair Display', serif;
    margin-bottom: 12px;
}
.herov-blog{
    font-size: 18px;
    margin-bottom: 41px;
}
.lang{
    color: var(--header);
    margin: 4px;
}
.button-one{
    color: var(--text-color);
    background: var(--button-color);
    cursor: pointer;
    border-radius: 10px;
    border: none;
    font-size: 24px;
    padding: 20px 61px;
} 
.benefits{
    background: url(../img/Group81-min.png) no-repeat;
    background-size: cover;
    padding-top: 105px;
    padding-bottom: 105px;
}
.benefits-list{
    width: 1110px;
    display: flex;
    justify-content: space-between;
    padding: 25px 50px;
    border: 5px solid var(--button-color);
    margin: 0 auto;
}
.background-one{

    background: linear-gradient(137deg, #00E5E6 7.29%, #00A8F7 26.04%, #9A76F9 62.5%, #CC5EC2 100%);
    box-shadow: 0px 30px 0px -13px #533978, 0px 14px 0px -5px #7B54B2;

}
.background-two{
    background: linear-gradient(137deg, #FF68B4 0%, #FF45E1 26.04%, #CE3AFF 62.84%, #8961FF 100%);
    box-shadow: 0px 30px 0px -13px #61337C, 0px 14px 0px -5px #9159B1;
}
.background-three{
    background: linear-gradient(143deg, #FFE128 0%, #FF9B5C 30.21%, #FF8381 63.29%, #FF5489 100%);
    box-shadow: 0px 30px 0px -13px #732F26, 0px 14px 0px -5px #B95A4C;
}
.reviwes-item{
    width: 255px;
    border-radius: 15px;
    padding: 49px 10px 29px 18px;
}
.reviews{
    background: url(../img/Group61-min.png);
    background-size: cover;
    color: var(--text-color);
    padding-top: 24px;
    padding-bottom: 105px;
}
.reviews-ul{
    display: flex;
    justify-content: space-between;
    font-family: "Roboto",sans-serif;
}
.reviews-text{
    font-size: 24px;
    color: var(--text-color);
    width: 228px;
}
.reviews-time{
    font-size: 14px;
    color: var(--date-color);
    margin-top: 8px;
}
.reviews-img{
    display: flex;
    padding-top: 71px;
}
.rev-name{
    font-size: 14px;
    padding-left: 5px;
    padding-top: 71px;
}
.rev-when{
    font-size: 12px;
    padding-left: 5px;
}
.title{
    text-align: center;
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 24px;
}
.order{
    background: url(../img/Group21-min.png);
}
.quality{

}
.two{
    padding-left: 95px;
    padding-right: 95px;
    border-left: 1px solid var(--text-color);
    border-right: 1px solid var(--text-color);
    margin-left: 50px;
    margin-right: 50px;
}
.quality-name{
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    color: var(--text-color);
}